@{
    ViewData["Title"] = "Home Page";

    // definering av temporära urls o namn
    string[] serviceNames = {
        "ADVERTISEMENT API",
        "ORGANISATIONS API",
        "PROFILE API",

    };

    string[] serviceUrls = {
        "https://jsonplaceholder.typicode.com/posts",
        "https://informatik7.ei.hv.se/ProfilAPI/swagger/index.html",
        "https://informatik7.ei.hv.se/ProfilAPI/swagger/index.html",

    };
}

<h2>Service Status</h2>

<table class="service-table">
    <thead>
        <tr class="service-type-all">
            <th class="service-type"><strong>Service Name</strong></th>
            <th class="service-type"><strong>Service URL</strong></th>
            <th class="service-type"><strong>Service Status</strong></th>
            <th class="service-type"><strong>Service Server Status</strong></th>
            <th class="service-type"><strong>Service Latency</strong></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < serviceUrls.Length; i++)
        {
            <tr>
                <td class="service-type-description">@serviceNames[i]</td>
                <td class="service-type-description"><a href="@serviceUrls[i]">@serviceUrls[i]</a></td>
                <td class="service-type-description"><span id="serviceStatus@(i + 1)">Unknown</span></td>
                <td class="service-type-description"><span id="serverStatus@(i + 1)">Unknown</span></td>
                <td class="service-type-description"><span id="serviceLatency@(i + 1)">Unknown</span></td>
            </tr>
        }
    </tbody>
</table>

<script src="site.js"></script>